#Dictionary

A dictionary is a mutable, associative data structure of variable length.

It has keys and values. Each key is unique and is associated with a value.

In [1]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

car

{'company': 'Ford', 'model': 'Mustang', 'year': 1964}

##Accessing Data from a dictionary

The data from a dictionary is accessed using keys.

In [2]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}
 
for key in car.keys():
    print(car[key])

Ford
Mustang
1964

There is also a method **get()** which is used to access values from a dictionary.

In [3]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

model = car.get("company")
model

'Ford'

##Adding items

An item in a dictionary can be simply added by creating a dictionary key and assigning a value to it.

In [4]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

car["price"] = "$100k"

car

{'company': 'Ford', 'model': 'Mustang', 'price': '$100k', 'year': 1964}

##Updating Dictionary Values

In [5]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

car["company"] = "Buggati"
car["model"] = "Veron"

car

{'company': 'Buggati', 'model': 'Veron', 'year': 1964}

##Deleting from a Dictionary

###**pop()** method

This method is used to delete an object with a specified key.

In [6]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

car

{'company': 'Ford', 'year': 1964}

###**popitem()** method

This method is used to delete an object with the last index.

In [7]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

car

{'company': 'Ford', 'model': 'Mustang'}

###**del** keyword

This del keyword to delete an object with the specified dictionary object.

In [8]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 1964
}

del car["company"]

car

{'model': 'Mustang', 'year': 1964}

##Check if key exists

The **in** keyword is used to check if a key exists in a dictionary.

In [9]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

"model" in car

True

##Dictionary Methods

###**keys()** method

This method gives us a list of all the keys in the dictionary.

In [10]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.keys()

dict_keys(['brand', 'model', 'year'])

###**values()** method

This method gives us a list of all the values in the dictionary.

In [11]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.values()

dict_values(['Ford', 'Mustang', 1964])

###**items()** method

This method gives us a list of tuple of all the key value pairs in the dictionary.

In [12]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

##Nested Dictionary

In [13]:
Cars = {
  "car1" : {
    "company" : "Audi",
    "model" : "A6"
  },
  "car2" : {
    "company" : "Lamborghini",
    "model" : "Ferrari"
  },
  "car3" : {
    "company" : "Bugatti",
    "model" : "Chiron"
  }
}

###Accessing from a nested dictionary.

In [14]:
#Getting the first car from the dictionary
car = Cars["car1"]
car

{'company': 'Audi', 'model': 'A6'}

In [15]:
#Getting the model of the first car
car["model"]

'A6'

###Problems


To count the frequency of each character in a string.

In [16]:
str1 = input("Enter a string: ")

dict = {}

for n in str1:
    keys = dict.keys()

    if n in keys:
        dict[n] += 1
    else:
        dict[n] = 1

print(dict)

Enter a string: Harry Potter
{'H': 1, 'a': 1, 'r': 3, 'y': 1, ' ': 1, 'P': 1, 'o': 1, 't': 2, 'e': 1}

To find the squares of all the numbers from 1 to 15.

In [17]:
num = list(range(1, 16))

dict = {}

for i in num:
    dict[i] = i*i

print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}