###1. Display float number with 2 decimal places using print().

In [ ]:
num = float(input("Enter a float number: "))
print("{:.2f}".format(num))

Enter a float number: 17.34982
17.35

###2. Takes two integer numbers and return their product.

In [ ]:
def product(a,b):
  return a*b

(a,b) = map(int,input("Enter two numbers: ").split())
print(product(a,b))

Enter two numbers: 4 7
28

###3. Write a Python program to get the volume of a sphere with radius 10.

In [ ]:
import math

radius = 10
volume = (4/3) * math.pi * (radius**3)
print("{:.2f}".format(volume))

4188.79

###4. Accept two numbers from the user and multiply them together.

In [ ]:
(a,b) = map(int,input("Enter two numbers: ").split())
print(f"{a} x {b} = {a*b}")

Enter two numbers: 13 6
13 x 6 = 78

###5. Write a Python program that accepts an integer (a) and computes the value of a+aa+aaa.

In [ ]:
a = input("Enter a digit: ")
print(f"{a} + {a}{a} + {a}{a}{a} = {int(a) + int(a+a) + int(a+a+a)}")

Enter a digit: 6
6 + 66 + 666 = 738

###6. Write a Python program to calculate the length of a string.

In [ ]:
string = input("Enter a string: ")
print(f"Length = {len(string)}")

Enter a string: Hello World!
Length = 12

###7. Write a Python program to parse a string to Float & Integer.

In [ ]:
string = input("String: ")
f = float(string)
i = int(f)

print(f"Float: {f}")
print(f"Integer: {i}")

String: 89.214
Float: 89.214
Integer: 89

###8. Given two integer numbers return their sum. If the sum is greater than 100, then return their product.

In [ ]:
def sum_prod(a,b):
  sum = a+b
  if sum <= 100:
    return sum
  else:
    return a*b

print(sum_prod(34,45))
print(sum_prod(85,30))

79
2550

###9. Write a Python program to calculate the sum of three given numbers, if the values are not - equal then return four times of their sum.

In [ ]:
def sum_three(a,b,c):
  sum = a+b+c
  if a == b == c:
    sum = sum * 4
  return sum

print(sum_three(1,3,5))
print(sum_three(4,4,4))

9
48

###10. A shop will give discount of 50% if the cost of purchased quantity is more than 10000. Ask user for quantity suppose, one unit will cost 100. Judge and print total cost for user.

In [ ]:
unit_cost = 100
quantity = int(input("Enter no. of units: "))

total_cost = unit_cost * quantity
if total_cost >= 10000:
  total_cost = total_cost / 2

print("Total cost: ₹{:.2f}".format(total_cost))

Enter no. of units: 250
Total cost: ₹12500.00

###11. To check whether a number is divisible by 8 and 12 or not.

In [ ]:
num = int(input("Enter a number: "))
if num%8 == 0 and num%12 == 0:
  print("Divisible by 8 and 12.")
else:
  print("Not divisible by 8 and 12.")

Enter a number: 36
Not divisible by 8 and 12.

###12. To check whether a given number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 87
Odd

###13. Write a program to input marks of five subjects Physics, Chemistry, Biology, Mathematics and Computer. Calculate percentage and grade according to following:<br>
Percentage >= 90% : Grade A<br>
Percentage >= 80% : Grade B<br>
Percentage >= 70% : Grade C<br>
Percentage >= 60% : Grade D<br>
Percentage >= 40% : Grade E<br>
Percentage < 40% :  Grade F

In [ ]:
print("Enter marks (out of 100): ")
phy = float(input("Physics: "))
chem = float(input("Chemistry: "))
bio = float(input("Biology: "))
math = float(input("Mathematics: "))
comp = float(input("Computer: "))

percentage = (phy + chem + bio + math + comp) / 5

if percentage >= 90:
  grade = 'A'
elif percentage >=80:
  grade = 'B'
elif percentage >=70:
  grade = 'C'
elif percentage >=60:
  grade = 'D'
elif percentage >=40:
  grade = 'E'
else:
  grade = 'F'

print(f"\nPercentage: {percentage}\nGrade: {grade}")

Enter marks (out of 100):
Physics: 82
Chemistry: 87
Biology: 92
Mathematics: 88
Computer: 96

Percentage: 89.0
Grade: B

###14. Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
(a,b,c) = map(int,input("Enter the ages of 3 people: ").split())

oldest = max(a,b,c)
youngest = min(a,b,c)

print(f"\nOldest: {oldest}\nYoungest: {youngest}")

Enter the ages of 3 people: 17 12 21

Oldest: 21
Youngest: 12

###15. Write a program to input electricity unit charges and calculate total electricity bill according to the given condition:<br>
For first 50 units Rs. 0.50/unit<br>
For next 100 units Rs. 0.75/unit<br>
For next 100 units Rs. 1.20/unit<br>
For unit above 250 Rs. 1.50/unit<br>
An additional surcharge of 20% is added to the bill

In [2]:
unit = float(input("Enter units consumed: "))

if unit <= 50:
  bill = 0.5 * unit
elif unit <= 150:
  bill = (0.5 * 50) + 0.75 * (unit - 50)
elif unit <= 250:
  bill = (0.5 * 50) + (0.75 * 100) + 1.20 * (unit - 150)
else:
  bill = (0.5 * 50) + (0.75 * 100) + (1.20 * 100) + 1.50 * (unit - 250) 

bill = bill + (bill * 0.20)
print("Total bill: ₹{:.2f}".format(bill))

Enter units consumed: 126
Total bill: ₹98.40

###16. A student will not be allowed to sit in exam if his/her attendence is less than 80%.<br> Take following input from user:<br>
Total Number of classes held<br>
Total Number of classes attended.<br>
Print percentage of class attended. Is student allowed to sit in exam or not?

In [ ]:
num_classes = int(input("Enter no. of classes held: "))
num_attended = int(input("Enter no. of classes attended: "))

percent = (num_attended/num_classes) * 100
print("\nPercentage of classes attended: {:.2f}%".format(percent))

if percent >= 80:
  print("The student is allowed to sit in exam.")
else:
  print("The student is not allowed to sit in exam.")

Enter no. of classes held: 53
Enter no. of classes attended: 39

Percentage of classes attended: 73.58%
The student is not allowed to sit in exam.

###17. Calculate income tax for the given income by adhering to the below rules:
Taxable Income -------- Rate (in %)<br>
First Rs.10,0000 -------- 0<br>
Next Rs. 10,0000 ------- 10<br>
The remaining ------------ 20

In [ ]:
income = float(input("Enter income: ₹"))

if income <= 10000:
  tax = 0
elif income <=20000:
  tax = (income - 10000) * 0.1
else:
  tax = (income - 20000) * 0.2 + 1000

print("Tax amount: ₹{:.2f}".format(tax))

Enter income: ₹40000
Tax amount: ₹5000.00

###18. Find digital sum of a given number.
   ex: n=123  Digital sum----->1+2+3=6

In [ ]:
num = input("Enter any number: ")
sum = 0

for i in num:
  sum = sum + int(i)

print(f"Digital sum = {sum}")

Enter any number: 123
Digital sum = 6

###19. Find the digital product of a given number.
   ex: n=43   Digital product ----->4*3=12

In [ ]:
num = input("Enter any number: ")
prod = 1

for i in num:
  prod = prod * int(i)

print(f"Digital product = {prod}")

Enter any number: 43
Digital product = 12

###20. Find the sum of the series 3 +33 + 333 + 3333 + .. n terms.

In [ ]:
n = int(input("Enter no. of terms: "))
sum = 0
t = 3

for i in range(1, n+1):
  sum = sum + t
  t = t*10 + 3

print(f"Sum upto {n} terms: {sum}")

Enter no. of terms: 5
Sum upto 5 terms: 37035

###21. Print the following pattern:
<p>
* <br>
* * <br>
* * * <br>
* * * * <br>
* * * * * <br>
* * * * <br>
* * * <br>
* * <br>
*<br>
</p>

In [1]:
n = int(input("Enter no. of columns: "))

for i in range(n):
  print((i+1) * '* ')

for i in range(n-1,0,-1):
  print(i * '* ')

Enter no. of columns: 9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

###22. Program to reverse a given number.
ex: n=123   Reversed no. is 321.

In [ ]:
n = int(input("Enter a no.: "))
reverse = 0

while n>0:
  rem = n%10
  reverse = reverse*10 + rem
  n = n//10

print(f"Reversed no. is {reverse}.")

Enter a no.: 1234
Reversed no. is 4321.

###23. Program to check whether a given number is a palindrome or not.

In [ ]:
n = int(input("Enter a no.: "))
num = n
reverse = 0

while n>0:
  rem = n%10
  reverse = reverse*10 + rem
  n = n//10

if reverse == num:
  print("Palindrome")
else:
  print("Not a palindrome")

Enter a no.: 12321
Palindrome

###24. Program to check whether a given number is an Armstrong number or not.

In [ ]:
n = int(input("Enter a no.: "))
num = n
sum = 0

while n>0:
  rem = n%10
  sum = sum + rem**3
  n = n//10

if sum == num:
  print("Armstrong number")
else:
  print("Not an Armstrong number")

Enter a no.: 153
Armstrong number

###25. Program to find factorial of a given number.

In [ ]:
n = int(input("Enter a no.: "))
factorial = 1

for i in range(1, n+1):
  factorial = factorial * i

print(f"Factorial of {n} = {factorial}")

Enter a no.: 6
Factorial of 6 = 720