<a href="https://colab.research.google.com/github/n4itik/Python-Lab/blob/main/Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple I/O & Data Types

###1. Display float number with 2 decimal places using print().

In [ ]:
num = float(input("Enter a float number: "))
print("{:.2f}".format(num))

Enter a float number: 17.34982
17.35

###2. Takes two integer numbers and return their product.

In [ ]:
def product(a,b):
  return a*b

(a,b) = map(int,input("Enter two numbers: ").split())
print(product(a,b))

Enter two numbers: 4 7
28

###3. Write a Python program to get the volume of a sphere with radius 10.

In [ ]:
import math

radius = 10
volume = (4/3) * math.pi * (radius**3)
print("{:.2f}".format(volume))

4188.79

###4. Accept two numbers from the user and multiply them together.

In [ ]:
(a,b) = map(int,input("Enter two numbers: ").split())
print(f"{a} x {b} = {a*b}")

Enter two numbers: 13 6
13 x 6 = 78

###5. Write a Python program that accepts an integer (a) and computes the value of a+aa+aaa.

In [ ]:
a = input("Enter a digit: ")
print(f"{a} + {a}{a} + {a}{a}{a} = {int(a) + int(a+a) + int(a+a+a)}")

Enter a digit: 6
6 + 66 + 666 = 738

###6. Write a Python program to calculate the length of a string.

In [ ]:
string = input("Enter a string: ")
print(f"Length = {len(string)}")

Enter a string: Hello World!
Length = 12

###7. Write a Python program to parse a string to Float & Integer.

In [ ]:
string = input("String: ")
f = float(string)
i = int(f)

print(f"Float: {f}")
print(f"Integer: {i}")

String: 89.214
Float: 89.214
Integer: 89

# Conditional Statements

###8. Given two integer numbers return their sum. If the sum is greater than 100, then return their product.

In [ ]:
def sum_prod(a,b):
  sum = a+b
  if sum <= 100:
    return sum
  else:
    return a*b

print(sum_prod(34,45))
print(sum_prod(85,30))

79
2550

###9. Write a Python program to calculate the sum of three given numbers, if the values are not - equal then return four times of their sum.

In [ ]:
def sum_three(a,b,c):
  sum = a+b+c
  if a == b == c:
    sum = sum * 4
  return sum

print(sum_three(1,3,5))
print(sum_three(4,4,4))

9
48

###10. A shop will give discount of 50% if the cost of purchased quantity is more than 10000. Ask user for quantity suppose, one unit will cost 100. Judge and print total cost for user.

In [ ]:
unit_cost = 100
quantity = int(input("Enter no. of units: "))

total_cost = unit_cost * quantity
if total_cost >= 10000:
  total_cost = total_cost / 2

print("Total cost: ₹{:.2f}".format(total_cost))

Enter no. of units: 250
Total cost: ₹12500.00

###11. To check whether a number is divisible by 8 and 12 or not.

In [ ]:
num = int(input("Enter a number: "))
if num%8 == 0 and num%12 == 0:
  print("Divisible by 8 and 12.")
else:
  print("Not divisible by 8 and 12.")

Enter a number: 36
Not divisible by 8 and 12.

###12. To check whether a given number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 87
Odd

###13. Write a program to input marks of five subjects Physics, Chemistry, Biology, Mathematics and Computer. Calculate percentage and grade according to following:<br>
Percentage >= 90% : Grade A<br>
Percentage >= 80% : Grade B<br>
Percentage >= 70% : Grade C<br>
Percentage >= 60% : Grade D<br>
Percentage >= 40% : Grade E<br>
Percentage < 40% :  Grade F

In [ ]:
print("Enter marks (out of 100): ")
phy = float(input("Physics: "))
chem = float(input("Chemistry: "))
bio = float(input("Biology: "))
math = float(input("Mathematics: "))
comp = float(input("Computer: "))

percentage = (phy + chem + bio + math + comp) / 5

if percentage >= 90:
  grade = 'A'
elif percentage >=80:
  grade = 'B'
elif percentage >=70:
  grade = 'C'
elif percentage >=60:
  grade = 'D'
elif percentage >=40:
  grade = 'E'
else:
  grade = 'F'

print(f"\nPercentage: {percentage}\nGrade: {grade}")

Enter marks (out of 100):
Physics: 82
Chemistry: 87
Biology: 92
Mathematics: 88
Computer: 96

Percentage: 89.0
Grade: B

###14. Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
(a,b,c) = map(int,input("Enter the ages of 3 people: ").split())

oldest = max(a,b,c)
youngest = min(a,b,c)

print(f"\nOldest: {oldest}\nYoungest: {youngest}")

Enter the ages of 3 people: 17 12 21

Oldest: 21
Youngest: 12

###15. Write a program to input electricity unit charges and calculate total electricity bill according to the given condition:<br>
For first 50 units Rs. 0.50/unit<br>
For next 100 units Rs. 0.75/unit<br>
For next 100 units Rs. 1.20/unit<br>
For unit above 250 Rs. 1.50/unit<br>
An additional surcharge of 20% is added to the bill

In [ ]:
unit = float(input("Enter units consumed: "))

if unit <= 50:
  bill = 0.5 * unit
elif unit <= 150:
  bill = (0.5 * 50) + 0.75 * (unit - 50)
elif unit <= 250:
  bill = (0.5 * 50) + (0.75 * 100) + 1.20 * (unit - 150)
else:
  bill = (0.5 * 50) + (0.75 * 100) + (1.20 * 100) + 1.50 * (unit - 250) 

bill = bill + (bill * 0.20)
print("Total bill: ₹{:.2f}".format(bill))

Enter units consumed: 126
Total bill: ₹98.40

###16. A student will not be allowed to sit in exam if his/her attendence is less than 80%.<br> Take following input from user:<br>
Total Number of classes held<br>
Total Number of classes attended.<br>
Print percentage of class attended. Is student allowed to sit in exam or not?

In [ ]:
num_classes = int(input("Enter no. of classes held: "))
num_attended = int(input("Enter no. of classes attended: "))

percent = (num_attended/num_classes) * 100
print("\nPercentage of classes attended: {:.2f}%".format(percent))

if percent >= 80:
  print("The student is allowed to sit in exam.")
else:
  print("The student is not allowed to sit in exam.")

Enter no. of classes held: 53
Enter no. of classes attended: 39

Percentage of classes attended: 73.58%
The student is not allowed to sit in exam.

###17. Calculate income tax for the given income by adhering to the below rules:
Taxable Income -------- Rate (in %)<br>
First Rs.10,0000 -------- 0<br>
Next Rs. 10,0000 ------- 10<br>
The remaining ------------ 20

In [ ]:
income = float(input("Enter income: ₹"))

if income <= 10000:
  tax = 0
elif income <=20000:
  tax = (income - 10000) * 0.1
else:
  tax = (income - 20000) * 0.2 + 1000

print("Tax amount: ₹{:.2f}".format(tax))

Enter income: ₹40000
Tax amount: ₹5000.00

# Loop

###18. Find digital sum of a given number.
   ex: n=123  Digital sum----->1+2+3=6

In [ ]:
num = input("Enter any number: ")
sum = 0

for i in num:
  sum = sum + int(i)

print(f"Digital sum = {sum}")

Enter any number: 123
Digital sum = 6

###19. Find the digital product of a given number.
   ex: n=43   Digital product ----->4*3=12

In [ ]:
num = input("Enter any number: ")
prod = 1

for i in num:
  prod = prod * int(i)

print(f"Digital product = {prod}")

Enter any number: 43
Digital product = 12

###20. Find the sum of the series 3 +33 + 333 + 3333 + .. n terms.

In [ ]:
n = int(input("Enter no. of terms: "))
sum = 0
t = 3

for i in range(1, n+1):
  sum = sum + t
  t = t*10 + 3

print(f"Sum upto {n} terms: {sum}")

Enter no. of terms: 5
Sum upto 5 terms: 37035

###21. Print the following pattern:
<p>
* <br>
* * <br>
* * * <br>
* * * * <br>
* * * * * <br>
* * * * <br>
* * * <br>
* * <br>
*<br>
</p>

In [ ]:
n = int(input("Enter no. of columns: "))

for i in range(n):
  print((i+1) * '* ')

for i in range(n-1,0,-1):
  print(i * '* ')

Enter no. of columns: 9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

###22. Program to reverse a given number.
ex: n=123   Reversed no. is 321.

In [ ]:
n = int(input("Enter a no.: "))
reverse = 0

while n>0:
  rem = n%10
  reverse = reverse*10 + rem
  n = n//10

print(f"Reversed no. is {reverse}.")

Enter a no.: 1234
Reversed no. is 4321.

###23. Program to check whether a given number is a palindrome or not.

In [ ]:
n = int(input("Enter a no.: "))
num = n
reverse = 0

while n>0:
  rem = n%10
  reverse = reverse*10 + rem
  n = n//10

if reverse == num:
  print("Palindrome")
else:
  print("Not a palindrome")

Enter a no.: 12321
Palindrome

###24. Program to check whether a given number is an Armstrong number or not.

In [ ]:
n = int(input("Enter a no.: "))
num = n
sum = 0

while n>0:
  rem = n%10
  sum = sum + rem**3
  n = n//10

if sum == num:
  print("Armstrong number")
else:
  print("Not an Armstrong number")

Enter a no.: 153
Armstrong number

###25. Program to find factorial of a given number.

In [ ]:
n = int(input("Enter a no.: "))
factorial = 1

for i in range(1, n+1):
  factorial = factorial * i

print(f"Factorial of {n} = {factorial}")

Enter a no.: 6
Factorial of 6 = 720

###26. Program to find whether a given number is a strong number or not.
  e.g. n=145
  1!+4!+5!==145"

In [1]:
sum=0  
num=int(input("Enter a number: "))  
temp=num  

while(num):   
    i=1  
    fact=1  
    rem=num%10  
    while(i<=rem):  
        fact=fact*i
        i=i+1  
    sum=sum+fact  
    num=num//10  

if(sum==temp):  
    print("Strong number")  
else:  
    print("Not a strong number")

Enter a number: 145
Strong number

###27. Program to find whether a given number is a unique number. For example, 20, 56, 9863, 145, etc. are the unique numbers while 33, 121, 900, 1010, etc. are not unique numbers.

In [3]:
n = input("Enter a number: ")
if len(n) == len(set(n)):
  print("Unique number")
else:
  print("Not a unique number")

Enter a number: 1010
Not a unique number

###28. Program to find whether a given number is a perfect number or not.

In [5]:
n = int(input("Enter a number: "))
sum = 0

for i in range(1, n):
    if(n % i == 0):
        sum = sum + i

if (sum == n):
    print("Perfect number")
else:
    print("Not a perfect number")

Enter a number: 25
Not a perfect number

###29. Program to find whether a given number is a prime number or not.

In [11]:
n = int(input("Enter a number: "))
sqrt_n = int(n**0.5)

for i in range(2, sqrt_n+1):
  if n%i == 0:
    print("Not a prime number")
    break
else:
  print("Prime number")

Enter a number: 23
Prime number

###30. Print downward half-pyramid pattern with star (asterisk).
<p>
* * * * *  <br>
* * * *  <br>
* * *  <br>
* *  <br>
* <br>
</p>

In [12]:
n = int(input("Enter no. of rows: "))

for i in range(n,0,-1):
  print('*'*i)

Enter no. of rows: 6
******
*****
****
***
**
*

###31. Print  following pattern: 
1 <br>
22 <br>
333 <br>
4444 <br>
55555 <br>
666666 <br>
7777777 <br>
88888888 <br>
999999999

In [13]:
for i in range(1,10):
  print(f"{i}"*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

###32. Print  following pattern: 
1 <br>
12 <br>
123 <br>
1234 <br>
12345 <br>
123456 <br>
1234567 <br>
12345678 <br>
123456789 <br>

In [15]:
for i in range(1,10):
  for j in range(1,i+1):
    print(j, end='')
  print()

1
12
123
1234
12345
123456
1234567
12345678
123456789

###33. Print following pattern: 
A <br>
BB <br>
CCC <br>
DDDD <br>
EEEEE <br>
FFFFFF <br>
GGGGGGG <br>
HHHHHHHH

In [16]:
n = int(input("Enter no. of rows: "))
A = 65

for i in range(1,n+1):
    for j in range(1, i+1):
        print("%c" %(A), end='')
    A += 1
    print()

Enter no. of rows: 11
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK

# String

###34. Write a Python program to calculate the length of a given string.

In [19]:
string = input("Enter a string: ")
count=0

for char in string:
  count += 1

print(f"Length: {count}")

Enter a string: abraham
Length: 7

###35. Write a Python program to get a single string from two given strings, separated by a space and swap the first characters of each string.
 Sample String : 'abc', 'xyz' <br>
 Expected Result : 'xbc ayz'

In [21]:
def swap(a, b):
  new_a = b[:1] + a[1:]
  new_b = a[:1] + b[1:]
  return new_a + ' ' + new_b

(a,b) = input("Enter 2 space separated strings: ").split()
print(swap(a,b))

Enter 2 space separated strings: abc xyz
xbc ayz

###36. Write a Python program to add 'polis' at the end of a given string (length should be at least 3).
  If the given string already ends with 'polis' then add 'polisCS' instead.
  If the string length of the given string is less than 3, leave it unchanged. 
 Sample String : 'abc' <br>
 Expected Result : 'abcpolis' <br> 
 Sample String : 'Acropolis' <br>
 Expected Result : 'AcropolisCS'

In [23]:
string = input("Enter a string: ")
if string.endswith("polis"):
  print(string+"CS")
else:
  print(string+"polis")

Enter a string: Acropolis
AcropolisCS

###37. Write a Python program to count the number of characters (character frequency) in a string. 
 Sample String : google.com' <br>
 Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [24]:
string = input("Enter a string: ")
freq_dict = {}

for char in string:
  if char in freq_dict:
    freq_dict[char] += 1
  else:
    freq_dict[char] = 1

print(freq_dict)

Enter a string: google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

###38. Write a Python program to change a given string to a new string where the second and last chars have been exchanged.

In [28]:
string = input("Enter a string: ")
second = string[1]
last = string[-1]

print(string[0] + last + string[2:len(string)-1] + second)

Enter a string: Dwight
Dtighw

###39. Write a Python program to remove the characters which have even index values of a given string.

In [29]:
string = input("Enter a string: ")
output = ""

for i in range(len(string)):
  if i%2 == 0:
    output += string[i]

print(output)

Enter a string: abraham
arhm

###40. Write a Python program that takes input from the user and displays that input back in upper and lower cases.

In [30]:
string = input("Enter a string: ")

print("Upper:", string.upper())
print("Lower:", string.lower())

Enter a string: Harry Potter
Upper: HARRY POTTER
Lower: harry potter

###41. Write a Python program to count occurrences of a substring in a string.

In [31]:
string = input("Enter a string: ")
sub = input("Enter substring: ")

print(f"The substring occurs {string.count(sub)} times.")

Enter a string: Mississipi
Enter substring: ssi
The substring occurs 2 times.

###42. Write a Python program to lowercase first n characters in a string.

In [32]:
string = input("Enter a string: ")
n = int(input("Enter value of n: "))

first_n = string[:n]
print(first_n.lower() + string[n:])

Enter a string: CZECHOSLOVAKIA
Enter value of n: 5
czechOSLOVAKIA

###43. Write a Python program to remove spaces from a given string.

In [33]:
string = input("Enter a string: ")
string = string.strip()

str_lst = string.split()
print("".join(str_lst))

Enter a string:   Harry Potter And The Chamber Of Secrets
HarryPotterAndTheChamberOfSecrets

###44. Write a Python program to move spaces to the front of a given string.

In [35]:
string = input("Enter a string: ")

no_space_char = [char for char in string if char!=' ']
space_char = len(string) - len(no_space_char)
output = ' '*space_char + ''.join(no_space_char)

print(output)

Enter a string:    Harry Potter And    The Chamber  Of   Secrets
                 HarryPotterAndTheChamberOfSecrets

###45. Write a Python program to find the maximum occurring character in a given string.

In [37]:
string = input("Enter a string: ")
freq_dict = {}

for char in string:
  if char in freq_dict:
    freq_dict[char] += 1
  else:
    freq_dict[char] = 1

print(f"The maximum occurring character is '{max(freq_dict)}'.")

Enter a string: Mississipi
The maximum occurring character is 's'.

###46. Write a Python program to capitalize first and last letters of each word of a given string.

In [39]:
string = input("Enter a string: ")
first = string[0]
last = string[-1]

print(first.upper() + string[1:len(string)-1] + last.upper())

Enter a string: michael
MichaeL

###47. Write a Python program to compute sum of digits of a given string.

In [40]:
string = input("Enter a string: ")
sum = 0

for char in string:
  if char.isdigit():
    sum += int(char)

print(f"The sum of digits in the string is {sum}.")

Enter a string: 1q2w3e4r
The sum of digits in the string is 10.

# Function

###48. Write a Python function that takes a list of words and returns the length of the longest one.

In [43]:
def longest_word(word_list):
    word_len = []

    for n in word_list:
        word_len.append((len(n), n))

    word_len.sort()
    return word_len[-1][0], word_len[-1][1]

output = longest_word(["Omen", "Chamber", "Reyna"])
print("Longest word: ", output[1])
print("Length: ", output[0])

Longest word:  Chamber
Length:  7

###49. Write a function x(n) for computing an element in the sequence xn=n^2+1. Call the function for n=4 and write out the result.

In [46]:
def x(n):
    return n**2 + 1

print(f"x(4) = {x(4)}")

x(4) = 17

###50. Take the following Python code that stores a string: ‘str = 'Y-tatata-acropolis: 0.8475'. Use find and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.

In [47]:
string = 'Y-tatata-acropolis: 0.8475'
colon_idx = string.find(':')

print(float(string[colon_idx + 1:]))

0.8475

###51. Write a function that returns the middle value among three integers. (Hint: make use of min() and max()). Write code to test this function with different inputs.

In [48]:
def middle(lst):
  for i in lst:
    if i != min(lst) and i != max(lst):
      return i

lst = [45, 23, 37]
print(middle(lst))

37

###52. Write a function that computes the area of a rectangle. Then, write a second function that calls this function three times to compute the surface area of a rectangular solid.

In [51]:
def area_of_rectangle(l,b):
  return l*b

def surface_area_of_cuboid(l,b,h):
  return area_of_rectangle(l,b) + area_of_rectangle(b,h) + area_of_rectangle(h,l)

print(surface_area_of_cuboid(4,5,6))

74

###53. Create an outer function that will accept three parameters, a, b and c. Create an inner function inside an outer function that will calculate the addition of a, b and c. At last, an outer function will add 5 into addition and return it.

In [52]:
def outer(a,b,c):
  def inner():
    return a+b+c
  return inner() + 5

print(outer(1,2,3))

11

###54. Write a program to create a recursive function to calculate the product of numbers from 10 to 100.

In [53]:
def product(a,b):
	if a < b:
		return product(b, a)
	
	elif b != 0:
		return (a + product(a, b - 1))
	
	else:
		return 0

print(product(16,23))

368

###55. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [54]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(6))

720

###56. Write a Python function to display all the multiples of  7 & 9 within the range 100 to 500.

In [56]:
multiples = []

for i in range(100,500):
  if i%7 == 0 and i%9 == 0:
    multiples.append(str(i))

print(", ".join(multiples))

126, 189, 252, 315, 378, 441

###57. Write a Python function  to check whether the given integer is a prime number or not.

In [59]:
def is_prime(n):
  sqrt_n = int(n**0.5)
  for i in range(2,sqrt_n+1):
    if n%i == 0:
      return False
  else:
    return True

is_prime(19)

True

###58. Write a Python function that checks whether a passed integer is Armstrong or not.

In [68]:
def is_armstrong(n):
  sum = 0
  temp = n
  while temp > 0:
    rem = temp % 10
    sum += rem ** 3
    temp //= 10

  return n == sum
  
is_armstrong(407)

True

###59. Program to return a function from another function.

In [72]:
def A():
  print("A")

def B():
  print("B")
  return A

returned = B()
returned()

B
A

###60. First, define a function, start_process, that takes one argument p. Then, if the start_process function receives an p equal to "Yes", it should return "Start Process" Alternatively, elif p is equal to "No", then the function should return "Start Process Aborted". Finally, if start_process gets anything other than those inputs, the function should return "Sorry for the input".

In [73]:
def start_process(p):
  if p == "Yes":
    return "Start Process"
  elif p == "No":
    return "Start Process Aborted"
  else:
    return "Sorry for the input"

print(start_process("Yes"))
print(start_process("No"))
print(start_process("Hi"))

Start Process
Start Process Aborted
Sorry for the input

###61. First, define a function called calculate_distance, with one argument (choose any argument name you like). If the type of the argument is either int or float, the function should return the absolute value of the function input. Otherwise, the function should return "No value". Check if it works calling the function with  9.6 and "what?".

In [75]:
def calculate_distance(arg):
  if isinstance(arg, float):
    return abs(arg)
  else:
    return "No value"

print(calculate_distance(9.6))
print(calculate_distance("what?"))

9.6
No value

# List

###62. Program to display the sum of input (n) numbers using a list.

In [77]:
lst = [int(i) for i in input("Enter numbers: ").split()]
sum = 0

for i in lst:
  sum += i

print(f"Sum = {sum}")

Enter numbers: 1 2 3 4 5
Sum = 15

###63. Program to insert a number to given position in a list.

In [87]:
lst = [1,2,3,4,5,6,7,8,9]

(num,idx) = input("Enter number and index: ").split()
lst.insert(int(idx), int(num))

lst

Enter number and index: 99  5

[1, 2, 3, 4, 5, 99, 6, 7, 8, 9]

###64. Write a program that prompts the user for a list of numbers and prints out the maximum and minimum of the numbers at the end when the user enters “done”. Write the program to store the numbers the user enters in a list and use the max() and min() functions to compute the maximum and minimum numbers after the loop completes.

In [82]:
lst = []

while(True):
  x = input()
  if x == "done":
    break
  else:
    lst.append(int(x))

print(f"Maximum = {max(lst)}")
print(f"Minimum = {min(lst)}")

1
2
3
4
5
done
Maximum = 5
Minimum = 1

###65. Write another program that prompts for a list of numbers as above and at the end prints out both the maximum and minimum of the numbers.

In [83]:
lst = [int(i) for i in input().split()]

print(f"Maximum = {max(lst)}")
print(f"Minimum = {min(lst)}")

1 2 3 4 5
Maximum = 5
Minimum = 1

###66. Program to delete an element from a list by index which is given by the user.

In [86]:
lst = [1,2,3,4,5,6,7,8,9]

idx = int(input("Enter index: "))
lst.pop(idx)

lst

Enter index: 4

[1, 2, 3, 4, 6, 7, 8, 9]

###67. Program to print a specified list after removing the 1st, 2nd and 5th elements.

In [89]:
lst = [int(i) for i in input("Enter elements: ").split()]

lst.pop(0)
lst.pop(1)
lst.pop(4)

lst

Enter elements: 1 2 3 4 5 6 7 8 9

[2, 4, 5, 6, 8, 9]

###68. Program to generate all sublists of a list.

In [90]:
from itertools import combinations

def sublists(lst):
	subs = []

	for i in range(0, len(lst)+1):
	  temp = [list(x) for x in combinations(lst, i)]
	  if len(temp)>0:
	    subs.extend(temp)
     
	return subs

lst = [1,2,3]
print(f"Sublists: {sublists(lst)}")

Sublists: [[], [1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

###69. Program to find all the values in a list are greater than a given number.

In [93]:
lst = [12,67,43,85,68,35,62,71,29]
x = int(input("Enter value: "))

for i in lst:
  if i > x:
    print(i,end=" ")

Enter value: 50
67 85 68 62 71

###70. Program to find the even numbers in a list.

In [94]:
lst = [12,67,43,85,68,35,62,71,29]

for i in lst:
  if i%2 == 0:
    print(i,end=" ")

12 68 62