#Function

###Definition

In [1]:
def my_function():
  print("Hello World")

###Invocation

In [2]:
def my_function():
  print("Hello World")

my_function()

Hello World

In [3]:
def square(x):
    print(x*x)

for i in range(10):
    square(i)

0
1
4
9
16
25
36
49
64
81

##Arguments

In [4]:
def greet(name):
    print("Hello", name)

greet("Noah")

Hello Noah

###Keyword Arguments

In [5]:
def cardetails(model, year):
    print("Model:", model)
    print("Year:", year)

cardetails("Chiron", 2020)

Model: Chiron
Year: 2020

###Default Arguments

In [6]:
def bill(product_name, price, discount = 0.1):
    print("Product:", product_name)
    print("Price: Rs.", price)
    print("Discount: Rs.", price*discount)

bill("Jeans", 1200) #discount is a default argument

Product: Jeans
Price: Rs. 1200
Discount: Rs. 120.0

###Variable Length Arguments

In [7]:
def avg(*nums):
    
    total = 0
    n = len(nums)
    
    for i in nums:
        total += i
 
    avg = total/n
    print("Average:", avg)
 
avg(56, 92, 68, 87, 100)

Average: 80.6

##**pass** Statement

In [8]:
#Empty function

def func():
    pass

func()

##**return** Statement

In [9]:
def cube(num):
    c = num ** 3
    return c

print(cube(7))

343

##Recursion

In [10]:
def factorial(x):

    x = int(x)
    if x == 0:
        return 1
    
    else:
        return (x * factorial(x-1))


num = int(input("Enter a number : "))
print(f"The factorial of {num} is {factorial(num)}.")

Enter a number : 6
The factorial of 6 is 720.

#Special Functions

###**lambda** Function
An anonymous function defined within a single line.<br>
There can be any number of arguments given to a lambda function.

In [11]:
'''
def sum(a, b):
    return(a+b)
print(sum(13, 25))
'''
sum = lambda a, b : a + b

print(sum(13, 25))

38

A lambda function can itself be used within a function and the function returns the function itself.

In [12]:
def multiplier(n):
  return lambda a : a * n

#Funtion to double a number
doubler = lambda a : a * 2

#Function to triple a number
tripler = lambda a : a * 3

print(doubler(12))
print(tripler(12))

24
36

###**map()** Function
To apply a given function over a sequence and return the result.

In [13]:
# Double all numbers using map and lambda 

numbers = (1, 2, 3, 4) 
result = map(lambda x: x * 2, numbers)
print(list(result))

[2, 4, 6, 8]

In [14]:
(a,b,c) = map(int,input("Enter 3 numbers: ").split())
print(b)
print(type(c))

Enter 3 numbers: 32 56 98
56
<class 'int'>

###**zip()** Function
Takes in iterables as arguments and returns an iterator.<br>
This iterator generates a series of tuples containing elements from each iterable.

In [15]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

zipped = zip(numbers, letters)

print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [16]:
integers = [1, 2, 3]
letters = ['a', 'b', 'c']
floats = [4.0, 5.0, 6.0]

zipped = zip(numbers, letters, floats)

print(list(zipped))

[(1, 'a', 4.0), (2, 'b', 5.0), (3, 'c', 6.0)]

##Decorators
Special functions that are used to decorate other functions.<br>
The functions that are decorated execute another function (decorating function) before executing themselves.

In [17]:
# Ordinary function
def ordinary():
    print("Ordinary Function")

# Decorating function
def prettify(func):
    def inner():
        print("*****************")
        func()
        print("*****************")
    return inner

In [18]:
ordinary()

Ordinary Function

In [19]:
@prettify
def ordinary():
    print("Ordinary Function")

ordinary()

*****************
Ordinary Function
*****************