#Usage of Functions

###Convert decimal to binary, octal and hexadecimal

In [1]:
def dec_to_bin(dec):
    print("Binary number:", bin(dec))


def dec_to_oct(dec):
    print("Octal number:", oct(dec))


def dec_to_hex(dec):
    print("Hexadecimal number:", hex(dec))


dec = int(input("Enter the decimal number: "))
dec_to_bin(dec)
dec_to_oct(dec)
dec_to_hex(dec)

Enter the decimal number: 56
Binary number: 0b111000
Octal number: 0o70
Hexadecimal number: 0x38

###Reverse a string

In [2]:
def reverse(string):
    string = string[::-1]
    return string


s = input("Enter a string: ")
print("The reversed string is:", reverse(s))

Enter a string: Python
The reversed string is: nohtyP

#Passing List as Argument

###Sum of squares of numbers in a list

In [3]:
def sum_of_squares(nums):
    sum = 0
    for i in nums:
        sum += (i**2)
    return sum


nums = [1, 2, 3, 4, 5]

# 1 + 4 + 9 + 16 + 25 = 55
print("Sum of squares of numbers in the given list:", sum_of_squares(nums))

Sum of squares of numbers in the given list: 55

###Count no. of odd numbers in a list

In [4]:
def countOdd(lst):
    count = 0
    for i in lst:
        if i % 2 == 1:
            count += 1
    return count


lst = [1, 2, 3, 4, 5]
print("The no. of odd numbers in the given list:", countOdd(lst))

The no. of odd numbers in the given list: 3

#Recursion

###n-th term in Fibonacci sequence

In [5]:
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)


num = int(input("Enter a number: "))

# 1, 1, 2, 3, 5, 8, 13, 21, 34, 55
print(f"The {num}th term in Fibonacci sequence is: {fibonacci(num)}")

Enter a number: 10
The 10th term in Fibonacci sequence is: 55

###Factorial of a number

In [6]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num-1)


num = int(input("Enter a number: "))
print(f"The factorial of {num} is: {factorial(num)}")

Enter a number: 6
The factorial of 6 is: 720

#Local v/s Global Scope

In [7]:
def func():
  x = 10    # Local variable
  print(x)

x = 20      # Global variable
print(x)

func()

20
10

To access the global variable, we have to use the ***global*** keyword.

In [8]:
def func():
  global x
  print(x)

x = 20
print(x)

func()

20
20

We can also use the ***globals*** dictionary for this purpose.

In [9]:
def func():
  x = globals()['x']
  print(x)

x = 20
print(x)

func()

20
20

#Lambda Functions

###Filter out the even numbers from a list

In [10]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

even_nums = list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)

[2, 4, 6, 8]

###Cube all the elements of a list

In [11]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

cubed_nums = list(map(lambda x: x**3, nums))
print(cubed_nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

###Multiply all the elements of a list

In [12]:
from functools import reduce

nums = [1, 2, 3, 4, 5, 6]
prod = reduce(lambda x, y: x*y, nums)
print(prod)

720

###Sort list of tuples containing subjects and marks

In [13]:
subject_marks = [('Science', 88), ('History', 90),
                 ('English', 97), ('Mathematics', 82)]

subject_marks.sort(key=lambda x: x[1], reverse=True)
print("Sorting the list of tuples:\n", subject_marks)

Sorting the list of tuples:
 [('English', 97), ('History', 90), ('Science', 88), ('Mathematics', 82)]

###Intersection of two lists

In [14]:
nums1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
nums2 = [3, 6, 9, 12, 15, 18, 21]

intersection = list(filter(lambda x: x in nums1, nums2))
print("Intersection: ", intersection)

Intersection:  [6, 12, 18]