#Sets

A set is a collection of unordered objects containing no duplicate values.

In [1]:
set = {1, 2, 3}
set

{1, 2, 3}

In [2]:
set = {1, 2, 3, 1, 2, 1, 2}
set

{1, 2, 3}

##Accessing data in a set

As from the definition we know that a set is unordered therefore its  elements don't have any index.

So to access values from a set we must iterate through it.

We can never be sure in what order the values may be accessed in a set.

In [3]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

for desert in deserts:
    print(desert)

pudding
chocolates
candy
cookies

##Adding items in a set

###**add()** method
This method is used when we want to add a single element into the set.

In [4]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

deserts.add("ice-Cream")

deserts

{'candy', 'chocolates', 'cookies', 'ice-Cream', 'pudding'}

###**update()** method
This method is used when we want to add a multiple elements into the set.

In [5]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

deserts.update(["ice-Cream", "baklava"])

deserts

{'baklava', 'candy', 'chocolates', 'cookies', 'ice-Cream', 'pudding'}

##Removing items from a set

###**discard()** method

In [6]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

deserts.discard("candy")

deserts

{'chocolates', 'cookies', 'pudding'}

###**pop()** method

The **pop()** method removes the last element from the set but as we know a set is unordered we don't exactly know what element is going to be removed.

In [7]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

deserts.pop()

deserts

{'candy', 'chocolates', 'cookies'}

###**clear()** method

The **clear()** method removes all the elements from a set.

In [8]:
deserts = {"chocolates", "cookies", "candy", "pudding"}

deserts.clear()

deserts

set()

##Set Operations

###Union

To find the union of two sets we use the **union()** method.

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 8, 9, 5}

set1.union(set2)

{1, 2, 3, 4, 5, 8, 9}

###Set Difference

The **difference()** method is used to find difference of 2 sets.

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 8, 9, 5}

set1.difference(set2)

{1, 2}

###Set Intersection

The **intersection()** method is used to find intersection of 2 sets.

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 8, 9, 5}

set1.intersection(set2)

{3, 4, 5}

###issubset()

The **issubset()** method is used to find if a set is subset of the other.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

set1.issubset(set2)

False

###issuperset()

The **issuperset()** method is used to find if a set is superset of the other.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

set1.issuperset(set2)

True